@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: var(--color-bg);
  color: var(--color-text);
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

p {
  line-height: 1.7;
}

